<h1>Add Recipe</h1>
<form class="add-container" action="/addCook" method="POST">

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName">

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName">

    <label for="dishType">Specialties</label>
    <input type="text" id="specialties" name="specialties">

    <label for="bday">Birthday</label>
    <input type="date" id="bday" name="birthday">

    <label for="nationality">Nationality</label>
    <input type="text" id="nationality" name="nationality">

    <input type="submit" value="Create">

</form>
